[Unit]
Description=mount {{ item.key }}
After=network.target multi-user.target

[Mount]
What={{ item.value.share }}
Where={{ item.value.mount }}
Type={{ item.value.type }}
Options={{ item.value.options }}

[Install]
WantedBy=default.target
